<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- FOR REFERRAL DUMMY DATA -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="deployReferralData" xsi:type="object">Wolfsellers\Referral\Console\DeployReferralData</item>
            </argument>
        </arguments>
    </type>
    <!-- FOR WEB API -->
    <preference for="Wolfsellers\Referral\Api\ReferralInterface" type="Wolfsellers\Referral\Model\Api\Referral"/>
</config>